<!DOCTYPE html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel = "stylesheet" href="/css/style.css">
</head>

<script src="/js/app.js"></script>
<body>
    <div class="main-content">
        {{>header}}
        <img class="about-me" alt="image loading" src="/img/FullMoon2010.jpg">
        <p>Created by {{name}}</p>
    </div>
    
{{>footer}}
</body>
