body {
    color: #333333;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    font-family: arial;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1;
}

.about-me {
    width: 250px;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    padding: 8px;
    background: #888888;
    cursor: pointer;
    color: white;
    border: 1px solid #888888;
}

@media (max-width: 500px) {
    body {
        color: #333333;
        max-width: 650px;
        margin: 0 auto;
        padding: 0 16px;
        font-family: arial;
    
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    
    .main-content {
        flex-grow: 1;
    }
    
    .about-me {
        width: 250px;
    }
    
    footer {
        color: #888888;
        border-top: 1px solid #eeeeee;
    }
    
    header {
        margin-top: 16px;
        margin-bottom: 48px;
    }
    
    h1 {
        font-size: 100px;
        margin-bottom: 16px;
    }
    
    header a {
        color: #9e1c1c;
        margin-right: 16px;
        text-decoration: none;
        font-size: 20px;
    }
    
    input {
        border: 10px solid #cccccc;
        padding: 20px;
    }
    
    button {
        padding: 20px;
        background: #888888;
        cursor: pointer;
        color: white;
        border: 10px solid #888888;
        font-size: 20px;
    }

    ::placeholder {
        font-size: 20px;
    }

    p {
        font-size: 20px;
    }
}